p {
    color:rgb(255, 166, 0) ;
}


.purple {
    color:blueviolet ;
}

#blue{
    color:blue;
}

div{
    border-style: dashed;
    border-color: red;
    padding:30px;
    margin: 100px;
}

#first_div{
    position: relative;
    
}